  
  .flag{

margin-left:50px;
justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  .flag-container{
    margin-top: 100px;
    margin-left: auto;
  }
  
  .flag-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .flag-question {
    margin: 20px 0;
  }
  
  .flag-emoji {
    font-size: 5rem;
  }
  
  .flag-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  
  .flag-option {
    padding: 10px 15px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #8e44ad;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .flag-score,
  .flag-attempts {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #2c3e50;
  }
  
  .flag-game-over h2 {
    font-size: 2rem;
    color: #e74c3c;
  }
  
  .flag-game-over p {
    font-size: 1.2rem;
    color: #2c3e50;
  }
  
  .flag-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
